* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.page {
  background-color: rgb(58, 58, 58);
  font-family: "Roboto", sans-serif;

  background-image: linear-gradient(80deg,
  rgb(31, 122, 31),
  rgb(26, 26, 26),
  rgb(58, 58, 58),
  rgb(26, 26, 26),
  rgb(31, 122, 31));

  background-size: 300%;
  animation: gradient 18s infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

strong {
  color: $light-green;
  letter-spacing: 1px;
}

.title {
  padding: 50px 0;
  font-size: 50px;
  font-weight: 900;
  font-style: italic;
  color: white;
}

.info {
  color: white;
  font-size: 24px;
}
