.header {
  height: 100vh;
  width: 100%;
  position: relative;
  margin-bottom: 400px;

  background-color: rgb(26, 26, 26);

  &__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    height: 100px;
    width: 100%;
    top: 90%;

    background-color: rgb(77, 255, 77);
  }

  &__link {
    padding: 40.5px 0;
    width: 300px;
    text-align: center;
    text-transform: uppercase;
    transition: 400ms;
    font-weight: 500;
    letter-spacing: 1px;

    color: white;

    &--1 {
      position: relative;

      &::after {
        content: url(../images/icons8-question-mark-90.png);
        position: absolute;
        top: 0;
        right: 100px;
        visibility: hidden;
        transition: transform 300ms;
      }

      &:hover {
        border-radius: 50px;

        &::after {
          content: url(../images/icons8-question-mark-90.png);
          position: absolute;
          right: 100px;
          transform: translateY(-100px);
          visibility: visible;
        }
      }
    }

    &--2 {
      position: relative;

      &::after {
        content: url(../images/icons8-question-mark-90.png);
        position: absolute;
        top: 0;
        right: 100px;
        visibility: hidden;
        transition: transform 300ms;
      }

      &:hover {
        border-radius: 50px;

        &::after {
          content: url(../images/icons8-question-mark-90.png);
          position: absolute;
          right: 100px;
          transform: translateY(-100px);
          visibility: visible;
        }
      }
    }

    &--3 {
      position: relative;

      &::after {
        content: url(../images/icons8-question-mark-90.png);
        position: absolute;
        top: 0;
        right: 100px;
        visibility: hidden;
        transition: transform 300ms;
      }

      &:hover {
        border-radius: 50px;

        &::after {
          content: url(../images/icons8-question-mark-90.png);
          position: absolute;
          right: 100px;
          transform: translateY(-100px);
          visibility: visible;
        }
      }
    }

    &:hover {
      background-color: $dark-gray;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 50px;
    width: 100px;
    height: 100px;

    color: black;
    background-color: white;

    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 300ms;

    &:hover {
      transform: scale(1.2);
      color: rgb(77, 255, 77);
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 2;

    text-align: center;
  }

  &__bubbles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    filter: url(#blob);
  }

  &__particle {
    width: 100px;
    height: 100px;
    top: -20%;
    background-color: $light-green;
    position: absolute;
    border-radius: 100%;
    animation: fall 15s infinite;
  }

  @keyframes fall {
    0% {
      top: -20%;
    }

    20% {
      top: 0%;
    }

    80% {
      top: 85%;
    }

    100% {
      top: 100%;
    }
  }

  &__particle:nth-of-type(2n) {
    width: 70px;
    height: 70px;
  }

  &__particle:nth-of-type(3n) {
    width: 120px;
    height: 120px;
  }

  &__particle:nth-of-type(1) {
    left: 30%;
    animation-delay: 1s;
  }

  &__particle:nth-of-type(2) {
    left: 60%;
    animation-delay: 2s;
  }

  &__particle:nth-of-type(3) {
    left: 25%;
    animation-delay: 3s;
  }

  &__particle:nth-of-type(4) {
    left: 50%;
    animation-delay: 4s;
  }

  &__particle:nth-of-type(5) {
    left: 80%;
    animation-delay: 5s;
  }

  &__particle:nth-of-type(6) {
    left: 45%;
    animation-delay: 6s;
  }

  &__particle:nth-of-type(7) {
    left: 35%;
    animation-delay: 7s;
  }

  &__particle:nth-of-type(8) {
    left: 65%;
    animation-delay: 8s;
  }

  &__particle:nth-of-type(9) {
    left: 95%;
    animation-delay: 9s;
  }

  &__particle:nth-of-type(10) {
    left: 40%;
    animation-delay: 10s;
  }

  &__particle:nth-of-type(11) {
    left: 15%;
    animation-delay: 11s;
  }

  &__particle:nth-of-type(12) {
    left: 75%;
    animation-delay: 12s;
  }

  &__particle:nth-of-type(13) {
    left: 50%;
    animation-delay: 13s;
  }

  &__particle:nth-of-type(14) {
    left: 5%;
    animation-delay: 14s;
  }

  &__border-1 {
    position: absolute;
    background-color: $light-green;
    width: 100%;
    height: 100px;
  }

  &__border-2 {
    position: absolute;
    background-color: $light-green;
    width: 100%;
    height: 10%;
    bottom: 0%;
  }

  &__portfolio {
    position: absolute;
    bottom: 45%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 98px;
  }
}
